.details-card {
    display: flex !important;
    flex-direction: row !important;
    border: 2px red solid !important;
}

.difficultyRating {
    display: flex !important;
    justify-content: center !important;
}