.trickSidebar {
    background-color: skyblue !important;
    height: 100% !important;
    margin: 0% !important;
    padding: 0% !important;
}

.pushable {
    margin: 0% !important;
    padding: 0% !important;
}

.trickContainer {
    height: 100% !important;
    
}
