.nav_div {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: skyblue;
}

.user_navbar {
    display: flex;
    width: 85%;
    margin: 0;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    font-size: x-large;
}
img {
    justify-content: flex-start;
}