.trickStepsCard {
    width:85% !important;
}

.step-container {
background-color: aqua;
}
.step-details {

}
.header {
    display: flex !important;
    justify-content: center !important;
}

.trickSteps {
    display: flex !important;
    justify-content: center !important;
}
ol {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ol li {
    line-height: 120%;
    font-size: x-large;
    margin: 5%;
   text-decoration: underline;
    margin-top: 15px;
    width: 60%
 }