.ui.cards.trickContainer {
    width:85% !important;
}

.trickCard {
    margin: 15px !important;
}
.trick_content {
    min-height: 50px !important;
    max-height: 50px !important;
    overflow: hidden;
}