.trickForm {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.trickInputs {
    display: flex !important;
    flex-direction: column !important;
}

input[type="radio"]{
    display: none;
}

