.dogs {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.dog_card {
    margin: 5%;
    padding: 5%;
    background-color: gray;
    width: 25%;
}
.dog_title {
    display: flex;
    justify-content: center;
}

.dog_details {
    display: flex;
}
 li {
    list-style: none;
}